/* general styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 960px;
}

/* header */
header {
  height: 100px;
  /* not working */
  /* border-color: aqua;
  border-width: 10px; */
}

/* header img {
  margin: 20px;
  float: left;
} */

header h1 {
  margin-left: 20px;
  line-height: 90px;
  font-size: 2em;
}

main {
  display: grid;
  grid-template-columns: 200px auto;
}

article {
  /* margin-left: 20px;  */
  background-color: aqua;
  width: 708px;
  margin-top: 20px;
  margin-bottom: 20px;
}

aside {
  background-color: lavender;
  height: 186px;
  margin-left: 20px;
  width: 130px;
  border: black;
  border-width: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 25px;
  overflow: scroll;
}

aside ul {
  margin-top: 10px;
}

aside li {
  list-style: disc;
  margin-bottom: 10px;

}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(1);
  background-color: bisque;
  width: max-content;
  height: max-content;
  /* margi: auto; */
  /* margin-left: 20px; */
}

section img {
  width: 200px;
  height: 200px;
  /* width: calc(100%-90px); */
  margin: 10px;
  padding: 8px;
  float: left;
  cursor: pointer;
}

section article {
  height: 35px;
  width: max-content;
}

h3 {
  font-size: 2em;
  justify-content: center;
}

main div {
  background-color: plum;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main div:hover {
  cursor: pointer;
}

/* #myChart {
  width: 450px;
  height: 400px;
} */


